---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% comment %} 
  すべての論文を日付の新しい順（reversed）に表示する。
  Front Matterに category があってもなくても、すべて表示される。
{% endcomment %}

<div class="list__items">
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
</div>